/*defineret mine farver*/
:root{
    --brand-primary:#EBCEC6;
    --brand-secondary:#C6C9C0;
    --brand-tertiary:#A0AE97;
    --brand-quaternary:#676360;
}

body{
    margin: 0;
    padding: 0;
    
}

/*menu navigation*/

/*farve på tekst*/
a{
    color: #000000;
}

.menu-bar{
    background-color:var(--brand-primary);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: relative;
    width: 100%;
    z-index: 3;
}

/*styling af udsende på skrift*/

.menu-bar ul{
    margin: 0;
    padding: 0%;
    list-style: none;
    overflow: hidden;
    background-color: var(--brand-primary);
}

.menu-bar ul a{
    display: block;
    padding: 20px;
    text-decoration: none;
    text-align: center;
}

/*hele menuen*/

.menu-bar .menu{
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/*placering af burger menu icone*/

.menu-bar .menu-icon{
    
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

/*hamburger menu visuelt*/

.menu-bar .menu-icon .nav-icon {
    background-color:#000000;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

.menu-bar .menu-icon .nav-icon:before{
    background-color: #000000;
    content: "";
    display:block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}

.menu-bar .menu-icon .nav-icon:after{
    background-color: #000000;
    content: "";
    display:block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}

/*skjuler tjekbox*/

.menu-bar .btn-menu{
    display: none;
}

/*menuen folder ud og ind*/

.menu-bar .btn-menu:checked ~ .menu{
    max-height: 240px;
}

/*styler burgermenuen til at være et X når den er åben*/

.menu-bar .btn-menu:checked ~ .menu-icon .nav-icon{
    background:transparent;
}

.menu-bar .btn-menu:checked ~ .menu-icon .nav-icon:before{
    transform: rotate(-45deg);
    top: 0;
}

.menu-bar .btn-menu:checked ~ .menu-icon .nav-icon:after{
    transform: rotate(45deg);
    top: 0;
}

/*logo*/

.menu-bar .logoR{
    display: block;
    float: left;
}

/*styling af om mig side*/
.mig{
    background-image: url(./images/mig.jpeg);
    background-size: cover;
    height: 400px;
    width: 300px;
    margin-left: 40px;
    margin-top: 40px;
}

.intro{
    background: var(--brand-primary);
    padding: 30px;
    margin-top: 40px;
    text-align: center;
}

.introtekst{
    padding: 30px;
    padding-bottom: 0;
}

.kontakt {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.kontakt h2{
    text-align: center;
    margin-bottom: 1.02rem;
}

.telefon{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.mail {
    display: flex;
    flex-direction: row;
}

.kontakt p{
    padding-left: 15px;
}

.infotekst{
    display: block;
    background-color: var(--brand-secondary);
    margin: 30px; 
    padding: 15px;
    margin-top: 0;
    box-shadow: 1px 1px 10px var(--brand-quaternary);
    
}

/*styling af projektside starter her*/

.projekter img{
    margin-bottom: 30px;
}




.rumrejse{
    box-shadow: 1px 1px 10px var(--brand-quaternary);
    padding: 20px;
    margin: 30px; 
}

.swing{
    box-shadow: 1px 1px 10px var(--brand-quaternary);
    padding: 20px;
    margin: 30px; 
}

.bollywood{
    box-shadow: 1px 1px 10px var(--brand-quaternary);
    padding: 20px;
    margin: 30px; 
}

.goeasy-første{
    box-shadow: 1px 1px 10px var(--brand-quaternary);
    padding: 20px;
    margin: 30px; 
}

.goeasy-anden{
    box-shadow: 1px 1px 10px var(--brand-quaternary);
    padding: 20px;
    margin: 30px; 
}

.swing img{
    margin-bottom:5px;
}

.btn-projekter{
    background-color: var(--brand-secondary);
    border: solid 1px var(--brand-tertiary);
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px var(--brand-quaternary);
    display: block;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
}

.projekter a{
    color:var(--brand-quaternary);
    text-align: center;
}

footer{
    background-color:var(--brand-primary);
    padding: 2px;
    text-align: center;
}

/*media queries starter her*/

/*menuen*/

@media (min-width:667px){
    .menu-bar li{
        float: left;
    }

    .menu-bar li a{
        padding: 20px 30px;
    }

    .menu-bar .menu{
        clear: none;
        float: right;
        max-height: none;
    }

    .menu-bar .menu-icon{
        display: none;
    }
}
