/*import af fonte Raleway og Khand*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*defineret mine farver*/
:root {
    --brand-primary: #EBCEC6;
    --brand-secondary: #C6C9C0;
    --brand-tertiary: #A0AE97;
    --brand-quaternary: #676360;
}

body {
    margin: 0;
    padding: 0;

}

.logoR {
    width: 50px;
    height: 50px;
}

a {
    color: #000000;
}


/*menu navigation*/

/*farve på tekst*/
.menu-bar {
    background-color: var(--brand-primary);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: relative;
    width: 100%;
    z-index: 3;
}

/*styling af udsende på skrift*/

.menu-bar ul {
    margin: 0;
    padding: 0%;
    list-style: none;
    overflow: hidden;
    background-color: var(--brand-primary);
}

.menu-bar ul a {
    display: block;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    font-family: Khand, sans-serif, bold;
    font-weight: 500;
    font-size: 40px;
}

/*hele menuen*/

.menu-bar .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/*placering af burger menu icone*/

.menu-bar .menu-icon {

    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
    margin-top: -50px;
}

/*hamburger menu visuelt*/

.menu-bar .menu-icon .nav-icon {
    background-color: #000000;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

.menu-bar .menu-icon .nav-icon:before {
    background-color: #000000;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}

.menu-bar .menu-icon .nav-icon:after {
    background-color: #000000;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}

/*skjuler tjekbox*/

.menu-bar .btn-menu {
    display: none;
}

/*menuen folder ud og ind*/

.menu-bar .btn-menu:checked~.menu {
    max-height: 240px;
}

/*styler burgermenuen til at være et X når den er åben*/

.menu-bar .btn-menu:checked~.menu-icon .nav-icon {
    background: transparent;
}

.menu-bar .btn-menu:checked~.menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

.menu-bar .btn-menu:checked~.menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}

/*logo*/

.menu-bar .logoR {
    display: block;
}

/*styling af om mig side*/

/*billede*/
.mig {
    background-image: url(./images/mig.jpeg);
    background-size: cover;
    height: 400px;
    width: 300px;
    margin-top: 40px;
}

.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*billede tekst*/
.intro {
    background: var(--brand-primary);
    padding: 30px;
    margin-top: 40px;
    text-align: center;
    font-family: khand, sans-serif;
}

/*om mig tekst*/
.introtekst {
    padding: 30px;
    padding-bottom: 0;
    font-family: Raleway, sans-serif, regular;
}

/*kontakt*/
.kontakt {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.kontakt h2 {
    text-align: center;
    margin-bottom: 1.02rem;
    font-family: khand, sans-serif, medium;
}

.telefon {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.mail {
    display: flex;
    flex-direction: row;

}

.kontakt p {
    padding-left: 15px;
    font-family: raleway, sans-serif, regular;
}

.infotekst {
    display: block;
    background-color: var(--brand-secondary);
    margin: 30px;
    padding: 15px;
    margin-top: 0;
    box-shadow: 1px 1px 10px var(--brand-quaternary);
}

.infotekst h2 {
    font-family: khand, sans-serif, medium;
}

.infotekst p {
    font-family: Raleway, sans-serif, Regular;
}

/*styling af projektside starter her*/

.projekter {
    font-family: Khand, sans-serif;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projekter img {
    margin-bottom: 30px;
}

.rum {
    box-shadow: 1px 1px 10px var(--brand-quaternary);
    padding: 20px;
    margin: 30px;
}

.swing img {
    margin-bottom: 5px;
}

/*knapper*/
.btn-projekter {
    background-color: var(--brand-secondary);
    border: solid 1px var(--brand-tertiary);
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px var(--brand-quaternary);
    display: block;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
}

.projekter a {
    color: var(--brand-quaternary);
    text-align: center;
}

/*styling af projektside slutter her*/

/*styling af alle projektsiderne starter her*/

/*rumrejsen*/
.rum-billede {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rumtekst {
    padding: 20px;
    margin-top: 0%;
    font-family: Raleway, sans-serif;
}

/*de swingende sko */
.swing-billede {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.swingtekst {
    padding: 20px;
    margin-top: 0%;
    font-family: Raleway, sans-serif;
}

/*Rhytme Studio*/
.rhythm-billede {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    display: flex;
    justify-items: center;
}

.rhythmtekst {
    padding: 20px;
    margin-top: 0%;
    font-family: Raleway, sans-serif;
}

/*styling af goeasy del1*/

.fgoeasy-billede {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

.fgoeasytekst {
    padding: 20px;
    font-family: Raleway, sans-serif;
}

/*goeasy del 2*/
.agoeasy-billede {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

.agoeasytekst {
    padding: 20px;
    font-family: Raleway, sans-serif;
}

/*styling af video*/

.videobillede {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

/*knappen med linket til video*/
.link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Raleway, sans-serif;
    font-style: italic;
    font-size: x-small;
    margin-top: 10px;
    background-color: var(--brand-secondary);
    padding: 5px;
    border: solid 1px var(--brand-tertiary);
    cursor: pointer;
    text-decoration: none;
    margin-right: 100px;
    margin-left: 100px;
    box-shadow: 1px 1px 3px var(--brand-quaternary);
    border-radius: 5px;
}

.videotekst {
    padding: 20px;
    font-family: Raleway, sans-serif;
}

.videosamlet {
    display: flex;
    flex-direction: column;
}

/*styling af projektsiderne slutter her*/

/*footer*/

footer {
    background-color: var(--brand-primary);
    padding: 2px;
    margin-top: 20px;
    text-align: center;
    font-family: Raleway, sans-serif;
}

.footvideo {
    background-color: var(--brand-primary);
    padding: 2px;
    margin-top: 70px;
    text-align: center;
    font-family: Raleway, sans-serif;
}

/*media queries starter her*/


@media (min-width:1024px) {

    /*menubaren stylet i media*/
    .menu-bar li {
        float: left;
    }

    .menu-bar li a {
        padding: 20px 30px;
    }

    .menu-bar .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .menu-bar .menu-icon {
        display: none;
    }

    .menu-bar ul a {
        padding: 20px;
        font-size: 10px;
    }

    /*om mig siden stylet til media - billede, tekst*/
    .mig {
        display: flex;
        justify-content: space-between;
    }

    .infotekst {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .kontakt {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-evenly;
    }

    /*projektside bokse rundt om billede og knap*/

    .projekter {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 50px;
    }

    /*projekt siden knapper og billede styling i media*/
    .rum {
        margin: 10px;
        min-height: 400px;
        min-width: 300px;
    }

    .alt {
        width: 300px;
        height: 300px;
    }

    .rejse {
        width: 300px;
        height: 300px;
    }

    /*rumrejsen studio billed og tekst justeret til media*/
    .rumsamlet {
        display: flex;
        justify-content: space-between;
        margin-left: 50px;
    }

    .rumtekst {
        padding: 50px;
        margin-top: 50px;
    }

    /*swing billed og tekst justeret til media*/
    .swingsamlet {
        display: flex;
        justify-content: space-between;
        margin-left: 20px;
    }

    .swingtekst {
        padding: 50px;
        margin-top: 50px;
    }

    .swing-billede {
        padding: 50px;
    }

    /*rhythm studio billed og tekst justeret til media*/
    .rhythm-samlet {
        display: flex;
        justify-content: space-between;
        margin-left: 50px;
    }

    .rhythmtekst {
        padding: 50px;
        margin-top: 50px;
    }

    /*GOEASY del 1  billed og tekst justeret til media*/
    .easysamlet {
        display: flex;
        justify-content: space-between;
        margin-left: 50px;
    }

    .fgoeasytekst {
        padding: 30px;
        margin-top: 50px;
    }

    .fgoeasy-billede {
        padding: 70px;
        width: 35%;
    }

    /*GOEASY del 2  billed og tekst justeret til media*/
    .gosamlet {
        display: flex;
        justify-content: space-between;
        margin-left: 50px;
    }

    .agoeasytekst {
        padding: 30px;
        margin-top: 140px;
    }

    .agoeasy-billede {
        padding: 20px;
        width: 500px;
    }

    /*video billed, link og tekst justeret til media*/
    .videosamlet {
        display: flex;
        flex-direction: row;
    }

    .vid {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 50px;
    }

    .videotekst {
        padding: 30px;
        margin-top: 70px;
    }

    .videobillede {
        padding-top: 70px;
        width: 80%;
    }

    /*footer*/
    footer {
        margin-top: 150px;
    }

    .footvideo {
        margin-top: 210px;
    }
}